In [2]:
# Datamart server running on localhost in development mode
datamart_api_url = 'http://localhost:5000'

In [14]:
import os
import json
import pandas as pd
from io import StringIO
from IPython.display import display, HTML
from requests import get,post,put,delete

In [4]:
def upload_data_post(file_path, url):
    file_name = os.path.basename(file_path)
    files = {
        'file': (file_name, open(file_path, mode='rb'), 'application/octet-stream')
    }
    response = post(url, files=files)

    print(json.dumps(response.json(), indent=2))

In [16]:
def upload_data_put(file_path, url):
    file_name = os.path.basename(file_path)
    files = {
        'file': (file_name, open(file_path, mode='rb'), 'application/octet-stream')
    }
    response = put(url, files=files)

    print(json.dumps(response.json(), indent=2))

In [17]:
response = get(f'{datamart_api_url}/metadata/datasets/DeleteMe/variables')
print(json.dumps(response.json(), indent=2))

[
  {
    "name": "INGO",
    "variable_id": "ingo",
    "description": "INGO in DeleteMe",
    "corresponds_to_property": "PVARIABLE-QDeleteMe-004",
    "qualifier": [
      {
        "name": "located in the administrative territorial entity",
        "identifier": "P131"
      },
      {
        "name": "stated in",
        "identifier": "P248"
      },
      {
        "name": "point in time",
        "identifier": "P585"
      }
    ]
  },
  {
    "name": "UN",
    "variable_id": "un",
    "description": "UN in DeleteMe",
    "corresponds_to_property": "PVARIABLE-QDeleteMe-003",
    "qualifier": [
      {
        "name": "located in the administrative territorial entity",
        "identifier": "P131"
      },
      {
        "name": "stated in",
        "identifier": "P248"
      },
      {
        "name": "point in time",
        "identifier": "P585"
      }
    ]
  }
]

In [22]:
url = f'{datamart_api_url}/datasets/DeleteMe/annotated'
file_path = 'test/test_data/03_worker_incidents_tbd.xlsx'
upload_data_put(file_path, url)

[
  {
    "name": "UN",
    "variable_id": "un",
    "dataset_id": "DeleteMe",
    "description": "UN in DeleteMe",
    "corresponds_to_property": "PVARIABLE-QDeleteMe-003",
    "qualifier": [
      {
        "name": "located in the administrative territorial entity",
        "identifier": "P131"
      },
      {
        "name": "stated in",
        "identifier": "P248"
      },
      {
        "name": "point in time",
        "identifier": "P585"
      }
    ]
  },
  {
    "name": "INGO",
    "variable_id": "ingo",
    "dataset_id": "DeleteMe",
    "description": "INGO in DeleteMe",
    "corresponds_to_property": "PVARIABLE-QDeleteMe-004",
    "qualifier": [
      {
        "name": "located in the administrative territorial entity",
        "identifier": "P131"
      },
      {
        "name": "stated in",
        "identifier": "P248"
      },
      {
        "name": "point in time",
        "identifier": "P585"
      }
    ]
  }
]

In [20]:
url = f'{datamart_api_url}/datasets/DeleteMe/annotated'
file_path = 'test/test_data/03_worker_incidents_tbd.xlsx'
upload_data_post(file_path, url)

[
  {
    "name": "UN",
    "variable_id": "un",
    "dataset_id": "DeleteMe",
    "description": "UN in DeleteMe",
    "corresponds_to_property": "PVARIABLE-QDeleteMe-003",
    "qualifier": [
      {
        "name": "located in the administrative territorial entity",
        "identifier": "P131"
      },
      {
        "name": "stated in",
        "identifier": "P248"
      },
      {
        "name": "point in time",
        "identifier": "P585"
      }
    ]
  },
  {
    "name": "INGO",
    "variable_id": "ingo",
    "dataset_id": "DeleteMe",
    "description": "INGO in DeleteMe",
    "corresponds_to_property": "PVARIABLE-QDeleteMe-004",
    "qualifier": [
      {
        "name": "located in the administrative territorial entity",
        "identifier": "P131"
      },
      {
        "name": "stated in",
        "identifier": "P248"
      },
      {
        "name": "point in time",
        "identifier": "P585"
      }
    ]
  }
]

In [11]:
response = get(f'{datamart_api_url}/datasets/DeleteMe/variables/un')
df = pd.read_csv(StringIO(response.text))
display(HTML(df.fillna('').to_html(index=False)))

In [37]:
response = delete(f'{datamart_api_url}/datasets/DeleteMe/variables')
print(response.text)
# print(json.dumps(response.json(), indent=2))

{"message": "The method is not allowed for the requested URL."}

In [48]:
response = delete(f'{datamart_api_url}/metadata/datasets/DeleteMe/variables/ingo')
print(response.text)
# print(json.dumps(response.json(), indent=2))

{"Message": "Variable: ingo in the dataset: DeleteMe has been deleted."}

In [12]:
response = get(f'{datamart_api_url}/metadata/datasets/DeleteMe/variables')
print(len(response.json()))
print(json.dumps(response.json(), indent=2))

2
[
  {
    "name": "INGO",
    "variable_id": "ingo",
    "description": "INGO in DeleteMe",
    "corresponds_to_property": "PVARIABLE-QDeleteMe-004",
    "qualifier": [
      {
        "name": "located in the administrative territorial entity",
        "identifier": "P131"
      },
      {
        "name": "stated in",
        "identifier": "P248"
      },
      {
        "name": "point in time",
        "identifier": "P585"
      }
    ]
  },
  {
    "name": "UN",
    "variable_id": "un",
    "description": "UN in DeleteMe",
    "corresponds_to_property": "PVARIABLE-QDeleteMe-003",
    "qualifier": [
      {
        "name": "located in the administrative territorial entity",
        "identifier": "P131"
      },
      {
        "name": "stated in",
        "identifier": "P248"
      },
      {
        "name": "point in time",
        "identifier": "P585"
      }
    ]
  }
]